$color-primary: #ffb997;
$color-primary-dark:#f67e7d;


$color-secondary: #843b62;
$color-secondary-dark: #621940;


$color-light: #ecf0f1;
$color-dark: #0b032d;

$font-basic: 'Raleway', sans-serif;
$font-second: 'Abril Fatface', cursive;
$font-third: 'Old Standard TT', serif;
$font-special: 'League Script', cursive;